.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .login__google {
    --background: #f91414;
  }

  .login__facebook {
    --background: #2020fc;
  }

  .login div {
    margin-top: 7px;
  }